.root {
    -fx-background-color: #555555;
}

.label-logo {
    -fx-text-fill: #CCCCCC;
}

.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #CCCCCC;
}

.label-start {
    -fx-text-fill: #CCCCCC;
}

.label-start-info {
    -fx-text-fill: #86FC35;
}

.label-start-error {
    -fx-text-fill: #FF6060;
}

.vBox-chat {
    -fx-background-color: #333333;
}

.chat-text > TextFlow > Text {
    -fx-fill: #DDDDDD;
}